.courses{
     margin-left: 110px;
     margin-right: 110px;
     margin-top: 80px;
    
}
.courses-heading h2{
     font-size: 36px;
}

.courses-heading button{
     background-color: rgb(255,244,247);
     color:rgb(222,0,0);
     font-weight: 700;
     font-size: 15px;
     padding: 10px 25px;
}

